* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
}

body {
	font-family: SansSerif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: darkblue;
	background-size: cover;
	overflow: hidden;
}

.mainbox {
	position: relative;
	width: 500px;
	height: 500px;
}

.mainbox:after {
	position: absolute;
	content: '';
	width: 32px;
	height: 50px;
	background: url("../images/arrow up-down.png") no-repeat;
	background-size: 32px;
	right: -30px;
	left: 50%;
	top: 0%;
	transform: translateY(-50%);
}

.box {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 50%;
	border: 10px solid white;
	overflow: hidden;
	transition: all ease 5s;
}

span {
	width: 50%;
	height: 50%;
	display: inline-block;
	position: absolute;
}

.span1 {
	clip-path: polygon(0 92%, 100% 50%, 0 8%);
	background-color: #2ec4b6;
	top: 120px;
	left: 0;
}

.span2 {
	clip-path: polygon(100% 92%, 0 50%, 100% 8%);
	background-color: #fb5607;
	top: 120px;
	right: 0;
}

.span3 {
	clip-path: polygon(50% 0, 8% 100%, 92% 100%);
	background-color: green;
	bottom: 0px;
	left: 120px;
}

.span4 {
	clip-path: polygon(50% 100%, 92% 0%, 8% 0%);
	background-color: purple;
	top: 0px;
	left: 120px;
}

.box2 {
	width: 100%;
	height: 100%;
	transform: rotate(-135deg);
}

span b {
	width: 65px;
	height: 65px;
	line-height: 65px;
	border-radius: 50%;
	font-size: 26px;
	text-align: center;
	background-color: white;
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: inset 0 3px 3px 0 #717171;
}

.spin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 4px solid white;
	background-color: #ff5722;
	color: white;
	box-shadow: 0 5px 20px white;
	font-weight: bold;
	font-size: 22px;
	cursor: pointer;
}

.spin:active {
	width: 70px;
	height: 70px;
	font-size: 20px;
}

.mainbox.animate:after {
	animation: animateArrow 0.7s ease infinite;
}

@keyframes animateArrow {
	50% {
		top: -40px;
	}
}

.results {
	background-color: green !important;
	color: white !important;
	padding: 20px !important;
	margin-bottom: 10px;
}
